<p id="notice"><%= notice %></p>

<h2>
  Name: <%= @item_category.name %> (<%= link_to 'Edit', edit_item_category_path(@item_category) %>)
</h2>
<div style="float:right; display: inline">
  <%= image_tag @item_category.picture %>
</div>
<h3>Related items</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Manufactured</th>
    <th>Description</th>
    <% if session[:is_admin] %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

  <% @items_list.each do |item| %>
      <tr>
        <td><%= link_to(item.name, item) %></td>
        <td><%= item.manufactured %></td>
        <td><%= item.description %></td>
        <% if session[:is_admin] %>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Delete', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<% unless @auction_list.empty? %>
    <h3>Related auctions</h3>

    <%= render :partial => "/item_auctions/auction_list", :object => @auction_list %>
<% end %>