<%= form_for(@bid) do |f| %>
    <% if @bid.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

          <ul>
            <% @bid.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :id %>: <%= f.label @bid.id %>
    </div>
    <div class="field">
      <%= f.label :item %>: <%= f.select :item, options_for_select(Item.all.map { |item| [item.name, item.id] }) %>
    </div>
    <div class="field">
      <%= f.label :user %>: <%= f.select :user, options_for_select(User.all.map { |user| [user.name, user.id] }) %>
    </div>
    <div class="field">
      <%= f.label :bid %>
      <br/>
      <%= f.text_field :bid %>
    </div>
    <div class="field">
      <%= f.label :bidtime %>
      <br/>
      <%= f.datetime_select :bidtime %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
