<h2>Listing bids</h2>

<table>
  <tr>
    <th>#</th>
    <th>Item</th>
    <th>User</th>
    <th>Bid</th>
    <th>Bidtime</th>
    <th></th>
    <th></th>
  </tr>

  <% @bids.each_with_index do |bid, y| %>
      <tr>
        <td><%= y+1 %></td>
        <td><%= bid.item.name %></td>
        <td><%= bid.user.name %></td>
        <td><%= bid.bid %></td>
        <td><%= bid.created_at %></td>
        <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
        <td><%= link_to 'Delete', bid, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Bid', new_bid_path %>
