<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :category_id %>
      <br/>
      <%= f.select :item_category_id, options_for_select(ItemCategory.all.map { |category| [category.name, category.id] }) %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :manufactured %>
      <br/>
      <%= f.date_select :manufactured %>
    </div>
    <div class="field">
      <%= f.label :condition %>
      <br/>
      <%= f.select :state, options_for_select(['mint/new', 'like new', 'used', 'broken', 'dead']) %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.file_field :picture %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
