<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Manufactured</th>
    <th>Description</th>
    <th>Auction?</th>
    <% if session[:is_admin] %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

  <% items_list.each do |item| %>
      <tr>
        <td><%= link_to(item.item_category.name, item.item_category) %></td>
        <td><%= link_to(item.name, item) %></td>
        <td><%= item.manufactured %></td>
        <td><%= item.description %></td>
        <td><%= item.item_auction.nil? ? "" : link_to(item.auction.id, item.item_auction) %></td>
        <% if session[:is_admin] %>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Delete', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
</table>
