<!DOCTYPE html>
<html>
<head>
  <title>Auction</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page">
  <header>

    <div id="title">
      <img src="/assets/BidITlogo.png" height="70px" style="padding: 5px 0 0 10px ;"/>
    </div>

    <div id="pss-logo">
      <img src="/assets/pss_logo2.png" height="60px" style="padding-right: 10px; padding-top: 10px;"/>
    </div>

    <div id="nav-title">
      <ul id="nav-menu">
        <li class="active">BidIT</li>
      </ul>
    </div>

    <% if session[:user_id] %>
        <div id="logindisplay">
          <div id="displayname"><strong><%= current_username %></strong></div>
          <div id="rolenames"></div>
          <%= link_to("Logout", login_logout_path) %>
        </div>
    <% else %>
        <div id="logindisplay">
          <div id="rolenames"><%= link_to("Register", new_user_path) %></div>
        </div>
    <% end %>
  </header>

  <% if session[:user_id] %>
      <nav>
        <ul id="menu">
          <%= content_tag(:li, link_to("Items", items_path), :class => controller.controller_name =="items" ? "active" : "") %>
          <%= content_tag(:li, link_to("Auctions", item_auctions_path), :class => controller.controller_name =="item_auctions" ? "active" : "") %>
          <%= content_tag(:li, link_to("Bids", bids_path), :class => controller.controller_name =="bids" ? "active" : "") %>
          <% if is_admin? %>
              <%= content_tag(:li, link_to("Categories", item_categories_path), :class => controller.controller_name =="item_categories" ? "active" : "") %>
              <%= content_tag(:li, link_to("Users", users_path), :class => controller.controller_name =="users" ? "active" : "") %>
          <% end %>
        </ul>
      </nav>
  <% end %>
  <section id="main">

    <article>
      <%= yield %>
    </article>

    <!--<ol class="round">-->
    <!--<li></li>-->
    <!--</ol>-->


  </section>
  <footer>
    <p>&copy; 2013 - IT-Services Hungary</p>
    <a href="mailto:Csaba.Nagy02@t-systems.com">Contact support</a>
    <%= p params %>
    <%= p session.inspect %>

  </footer>
</div>

</body>
</html>
